/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "BC Sans";

// colors
$body-color: #000000;

// headings
$presentation-heading-font: "BC Sans";

/*-- scss:rules --*/
.reveal .slide ul {
  padding-left: .5em;
}

h1 {
  padding-left: .5em;
}

.reveal .slide-background.title-slide {
  background-color: #003366 !important;
  background-image: url('/bcstats_logo_rev.png') !important;
  background-size: 300px auto;
  background-position: right 20px bottom;
  background-repeat: no-repeat;
}

.reveal h2 {
  background-color: #003366;
  color: #ffffff;
  padding: 20px 60px;  // add horizontal padding for text
  border-bottom:2px solid #fcba19;
  background-image: url('/bcstats_logo_rev.png');
  background-size: 180px auto;
  background-position: right 20px center;
  background-repeat: no-repeat;
}
