/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "BC Sans", sans-serif;
$presentation-heading-font: "BC Sans", sans-serif;

// colors
$body-color: #000000;

/*-- scss:rules --*/
h1, p, .reveal .slide ul, .reveal .slide ol {
  padding-left: .5em;
}

.reveal .slide-background.title-slide {
  background-color: #003366 !important;
  background-image: url('/style/BC_HLTH_H_RGB_rev.png') !important;
  background-size: 300px auto;
  background-position: right 20px bottom;
  background-repeat: no-repeat;
}

.reveal h2, .title {
  background-color: #003366;
  color: #ffffff;
  padding: 20px 60px;
  border-bottom:2px solid #fcba19;
  background-image: url('/style/BC_HLTH_H_RGB_rev.png');
  background-size: 180px auto;
  background-position: right 20px center;
  background-repeat: no-repeat;
}

.title h1 {
  padding: 0px 5px;
}
